{% extends 'base.html' %}
{% block title %}新建商品{% endblock title %}
{% block content %}
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col bg-light">
                <div class="row">
                    <div class="col-md col-lg text-center mx-1 my-1 border" style="max-height: 31.25rem; max-width: 31.25rem;">
                    <br><br><br><br><br><br><br><br><a href="#">在此放入商品圖片(330x330像素)</a><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                    <div class="col-md col-lg">
                        <form class="mt-2">
                            <input type="text" placeholder="在此輸入標題" name="title" required="required" class="border-0 bg-light form-control"><br><br>
                            <textarea placeholder="在此輸入該商品簡介" name="Introduction" class="border-0 bg-light form-control" style="height: 12rem; resize:none;"></textarea>
                            <input type="text" placeholder="輸入金額" name="balance" class=" mt-2 border-0 bg-light form-control" required="required"><br><br>
                            <button class="btn btn-success" name="output">建立</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}