{% extends 'base.html' %}
{% block title %}韓總周邊購物網站{% endblock title %}
{% block content %}

    <!-- Header -->
    <header class="masthead" style="background-image: url('../static/img/header-bg.jpg');background-position: center;background-attachment: fixed;background-size: 100%">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase h4">韓國輸發大財</div>
                <div class="intro-lead-in">七大政見跳票迪士尼樂園</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">還有什麼呢</a>
            </div>
        </div>
    </header>
    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">我們賣什麼呢</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">公仔</h4>
                    <p class="text-muted">想買便宜的公仔，來我們這裡就對了！</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">衣服</h4>
                    <p class="text-muted">想買國旗衣或是韓總的衣服嗎？這裡應有盡有！</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x" style="color:blue"></i>
                        <i class="fas fa-sun fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">國旗</h4>
                    <p class="text-muted">想要各種尺寸的國旗嗎？我們這裡都有！</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="background-image: url('../static/img/flag.png');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <br><br>
                    <h4 style="color:red;">註冊或登入以購買韓總周邊</h4>
                    <div class="btn-group">
                        <a class="btn btn-danger text-white" href="/signin">註冊</a>
                        <a class="btn" href="/login" style="background-color: blue; border-color: blue; color: white;">登入</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mail-bulk text-danger mb-2"></i>
                            <p>信箱</p>
                            <hr class="my-4">
                            <a href="mailto:c107118131@nkust.edu.tw?Subject=猴猴" style="color: red">聯絡我們</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-phone mb-2"  style="color:blue"></i>
                            <p>電話</p>
                            <hr class="my-4" style="border-color: blue">
                            <div class="text-black-50 small">0912345678</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map text-danger mb-2"></i>
                            <p>地址</p>
                            <hr class="my-4" style="border-color: red">
                            <div class="text-black-50 small">高雄市三民區建國一路463號</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center my-5">
                <a href="#" class="px-1 fab fa-facebook fa-2x" style="color:rgba(0, 0, 255, 0.507)"></a>
                <a href="#" class="px-1 fab fa-twitter fa-2x" style="color: rgba(0, 81, 255, 0.534);"></a>
                <a href="#" class="px-1 fab fa-instagram fa-2x" style="color:rgb(247, 192, 111)"></a>
            </div>
        </div>
    </section>
{% endblock content %}