{% extends 'base.html' %}
{% block title %}商品名稱{% endblock title %}
{% block content %}
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col bg-light">
                <div class="row">
                    <div class="col-md col-lg text-center mx-1 my-1" style="max-height: 20.625rem; max-width: 20.625rem;">
                    <img src="../static/img/product-1.jpg">
                    </div>
                    <div class="col-md col-lg">
                        <form>
                            <h3>標題</h3>
                            <h5>臣亮言：先帝創業未半，而中道崩殂。今天下三分，益州
                                    疲弊，此誠危急存亡之秋也。然侍衛之臣，不懈於內；忠志之
                                    士，忘身於外者，蓋追先帝之殊遇，欲報之於陛下也。誠宜開
                                    張聖聽，以光先帝遺德，恢弘志士之氣；不宜妄自菲薄，引喻
                                    失義，以塞忠諫之路也。宮中府中，俱為一體，陟罰臧否，不
                                    宜異同。若有作姦犯科，及為忠善者，宜付有司，論其刑賞，
                                    以昭陛下平明之治，不宜篇私，使內外異法也。
                                     
                                     　　侍中、侍郎郭攸之、費褘、董允等，此皆良實，志慮忠純
                                    ，是以先帝簡拔以遺陛下。愚以為宮中之事，事無大小，悉以</h5>
                            <h4 class="text-warning">$100</h4>
                            <a href="commodity.html" class="btn btn-success">放入購物車</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}