{% extends 'base.html' %}
{% block title %}登入{% endblock title %}
{% block content %}
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-white">韓總周邊商品</h3>
                    <p class="text-white-50">
                        想買國旗卻不知道在哪裡買嗎？
                        <br>
                        想買紋身貼紙卻不知道哪裡有賣嗎？
                        <br>
                        來我們這就對了！
                    </p>
                </div>
            </div>
            <form>
                <div class="form-row">
                    <div class="col form-group">
                        <input class="form-control" type="text" name="account" placeholder="請輸入帳號">
                    </div>
                    <div class="col form-group">
                        <input class="form-control" type="password" name="password" placeholder="請輸入密碼">
                    </div>
                    <div class="form-group col">
                        <select name="permission" class="form-control">
                            <option value="user">一般使用者</option>
                            <option value="admin">管理員</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger btn-lg">登入</button>
            </form>
        </div>
    </section>
{% endblock content %}