{% extends 'base.html' %}
{% block title %}管理產品{% endblock title %}
{% block content %}
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <p class="col text-center text-white">商品列表</p>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-4 card">
                <div class="card-img border mt-2">
                    <img src="../static/img/product-1.jpg">
                </div>
                <div class="card-body">
                    <a href="#">小國旗</a>
                    <p>100</p>
                    <a class="btn btn-warning text-white" href="/create_item">編輯</a>
                    <button class="btn btn-primary">隱藏</button>
                    <button class="btn btn-danger">刪除</button>
                </div>
            </div>
            <div class="col-md-2 col-lg-4 card">
                <div class="card-img border mt-2">
                    放圖片
                </div>
                <div class="card-body">
                    <a>產品名稱</a>
                    <p>價錢</p>
                    <a class="btn btn-warning text-white" href="/create_item">編輯</a>
                    <button class="btn btn-primary">隱藏</button>
                    <button class="btn btn-danger">刪除</button>
                </div>
            </div>
            <div class="col-md-2 col-lg-4 card">
                <div class="card-img border mt-2">
                    放圖片
                </div>
                <div class="card-body">
                    <a>產品名稱</a>
                    <p>價錢</p>
                    <a class="btn btn-warning text-white" href="/create_item">編輯</a>
                    <button class="btn btn-primary">隱藏</button>
                    <button class="btn btn-danger">刪除</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}