{% extends 'base.html' %}
{% block title %}產品列表{% endblock title %}
{% block content %}
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <p class="col text-center text-white">商品列表</p>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-4 card">
                <div class="card-img border mt-2">
                    <a href="/item">
                        <img src="../static/img/product-1.jpg">
                    </a>
                </div>
                <div class="card-body">
                    <a href="/item">小國旗</a>
                    <p>100</p>
                    <a href="commodity.html" class="btn btn-success">放入購物車</a>
                </div>
            </div>
            <div class="col-md-2 col-lg-4 card">
                <div class="card-img border mt-2">
                    放圖片
                </div>
                <div class="card-body">
                    <a>產品名稱</a>
                    <p>價錢</p>
                    <a href="commodity.html" class="btn btn-success">放入購物車</a>
                </div>
            </div>
            <div class="col-md-2 col-lg-4 card">
                <div class="card-img border mt-2">
                    放圖片
                </div>
                <div class="card-body">
                    <a>產品名稱</a>
                    <p>價錢</p>
                    <a href="commodity.html" class="btn btn-success">放入購物車</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}