{% extends 'base.html' %}
{% block title %}登入{% endblock title %}
{% block content %}
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <p class="col text-center text-white">購物車</p>
        </div>
        <div class="row">
            <div class="col bg-light">
                <span class="float-left pt-1">
                    圖片
                    產品名稱
                </span>
                <div class="btn-group-sm float-right">
                    <button class="btn btn-success">編輯</button>
                    <button class="btn btn-danger">刪除</button>
                </div>
                <span class="float-right pt-1 pr-2">
                    價錢
                </span>
                <span class="float-right pt-1 pr-2">
                    個數
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col bg-light">
                <span class="float-left pt-1">
                    圖片
                    產品名稱
                </span>
                <div class="btn-group-sm float-right">
                    <button class="btn btn-success">編輯</button>
                    <button class="btn btn-danger">刪除</button>
                </div>
                <span class="float-right pt-1 pr-2">
                    價錢
                </span>
                <span class="float-right pt-1 pr-2">
                    個數
                </span>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}