{% extends 'base.html' %}
{% block title %}註冊{% endblock title %}
{% block content %}
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-white">韓總周邊商品</h3>
                    <p class="text-white-50">
                        想買國旗卻不知道在哪裡買嗎？
                        <br>
                        想買紋身貼紙卻不知道哪裡有賣嗎？
                        <br>
                        來我們這就對了！
                    </p>
                </div>
            </div>
            <form method='POST' action="{{ url_for('signin') }}">
                <div class="form-row">
                    <div class="col form-group">
                <input type="text" class="form-control" name="account" placeholder="請輸入帳號" required="required">
                    </div>
                    <div class="col form-group">
                <input type="text" class="form-control" name="name" placeholder="請輸入用戶名稱" required="required"><br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <input type="password" class="form-control" name="password" placeholder="請輸入密碼" required="required">
                    </div>
                    <div class="col form-group">
                        <input type="password" class="form-control" name="comfirm" placeholder="請再次輸入密碼" required="required"><br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <input type="text" class="form-control" name="location" placeholder="請輸入收件地址" required="required">
                    </div>
                    <div class="col form-group">
                        <input type="text" class="form-control" name="email" placeholder="請輸入信箱" required="required"><br>
                    </div>
                    <select name="permission" required="required" class="col form-control">
                        <option value="user">一般使用者</option>
                        <option value="admin">管理員</option>
                    </select>
                </div>
                <button class="btn btn-lg btn-danger" type="submit" class="btn btn-danger">註冊</button>
            </form>
        </div>
    </section>
{% endblock content %}